<div class="friends-div-parent">
    <link rel="stylesheet" href="/css/partials/friends.css" type="text/css">
  
    <div class="friends flex-navbar dynamic-menu">
      
      <div class="search">
        <ion-icon name="search-outline"></ion-icon>
        <input type="text" placeholder="Search...">
      </div>
  
      <div class="manage friends-main-div friends-section-btn" onclick="toggle('friends-section-btn')">
        <ion-icon name="happy-outline"></ion-icon>
        <h3>Friends</h3>
       </div>
  
       <div class="profile profile-section-btn" onclick="toggle('profile-section-btn')">
        <ion-icon name="person-outline"></ion-icon>
        <h3>Profile</h3>
       </div>
  
      <div class="dms-header">
        <h4>Direct Messages</h4>
      </div>
  
      <div class="friends-list">
      </div>
    </div>
  </div>