<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css">
  </head>
  <body>
    <h3>This page will be constructed soon. Redirecting you to the app</h3>
    <script>
      setTimeout(() => {
        window.location.href = '/app';
      }, 2000);
    </script>
  </body>
</html>