<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>

    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css">
</head>
<body>
<h1>This page is still under development.</h1>
<h3>Click <a href="/app">here</a> to go back to the main page.</h3>
</body>
</html>