<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/nexus.png" type="image/x-icon">
    <title>Nexus - Settings</title>

    <link rel="stylesheet" href="../css/default.css" type="text/css">
    <link rel="stylesheet" href="../css/settings.css" type="text/css">
    <link rel="stylesheet" href="../css/app.css" type="text/css">
    <link rel="stylesheet" href="../css/theme.css" type="text/css">

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="../js/settings.js"></script>
    <script defer src="../js/default.js"></script>
    <style>
        ion-icon {
            color: var(--fg-light);
        }
    </style>
  </head>
  <body>
  <div id="notification-area"></div>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

        <div class="settings-section">
            <div class="settings-app">
                <h2 class="noselect">App Settings</h2>
                <p class="noselect">General app settings</p>

                <div class="app-themes-settings">
                    <div class="theme-heading">
                        <h4 class="noselect">Themes</h4>
                        <p class="noselect">Click on the circles of theme cards to try them. Once clicked, it will be saved automatically.</p>
                    </div>

                    <div class="app-theme-options">

                        <div class="dark-theme-wrapper">
                            <div class="dark-theme-circle theme-circle" id="dark"></div>
                            <span class="noselect">Night</span>
                        </div>

                        <div class="light-theme-wrapper">
                            <div class="light-theme-circle theme-circle" id="light"></div>
                            <span class="noselect">Day</span>
                        </div>

                        <div class="azure-theme-wrapper">
                            <div class="azure-theme-circle theme-circle" id="azure"></div>
                            <span class="noselect">Azure</span>
                        </div>

                        <div class="crimson-theme-wrapper">
                            <div class="crimson-theme-circle theme-circle" id="crimson"></div>
                            <span class="noselect">Crimson</span>
                        </div>
                        
                        <div class="forest-theme-wrapper">
                            <div class="forest-theme-circle theme-circle" id="forest"></div>
                            <span class="noselect">Forest</span>
                        </div>

                        <div class="synth-theme-wrapper">
                            <div class="synth-theme-circle theme-circle" id="synth"></div>
                            <span class="noselect">Synthwave</span>
                        </div>
                    </div>
                </div>

                <div class="app-messages-settings">
                    <h4 class="noselect">Messages</h4>
                    <p class="noselect">Customize your message settings from here.</p>

                    <div class="app-msgs-options">
                        <div class="app-msg-s-header">
                            <button></button>
                            <p class="noselect">Play sound on message receive?</p>
                        </div>
                        <div class="app-msg-a-header">
                            <button></button>
                            <p class="noselect">Get notifications from browser?</p>
                        </div>
                    </div>
                </div>

                <div class="app-account-settings" style="margin-top:3rem">
                    <h4 class="noselect">Account</h4>
                    <p class="noselect">Manage your account settings from here</p>

                    <div class="edit-opts">

                        <div class="email-edit edit-div">

                            <div class="mail-wrapper noselect">
                                <button><ion-icon name="eye-outline"></ion-icon></button>
                                <input placeholder="Email" class="email-input inp-disabled">
                            </div>

                            <button class="edit-email-btn"><ion-icon name="create-outline"></ion-icon></button>

                        </div>

                        <div class="pass-edit edit-div">

                            <div class="pass-wrapper noselect">
                                <button><ion-icon name="eye-outline"></ion-icon></button>
                                <input placeholder="Password" class="password-input inp-disabled">
                            </div>

                             <button class="edit-pass-btn"><ion-icon name="create-outline"></ion-icon></button>
                        </div>

                    </div>

                    <br />

                    <div class="twofa-opts">
                        <div class="app-msg-t-header">
                            <button></button>
                            <p class="noselect">Use 2 Factor Authentication? (via e-mail)</p>
                        </div>
                        <!--<label for="method2fa" style="margin-left: 4rem;">2FA method:</label>
                        <select id="method2fa" name="2FA Method">
                            <option disabled selected value> &#45;&#45; select an option &#45;&#45; </option>
                            <option value="email">Email</option>
                        </select>-->
                    </div>

                    <div class="acc-btns">
                        <button class="del-acc-btn noselect" onclick="delAcc()">Delete Account</button>
                        <button class="logout-btn noselect" onclick="logout()">Log out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" defer src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule defer src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>