.friends-section * {
    animation: fade 0.5s ease-in-out;
  }
  
  button.hamburger ion-icon {
    color: var(--fg-light);
  }
  
  .friends-section {
    flex-grow: 1;
    background: var(--bg-lightest);
    overflow-y: auto;
  }
  
  .friends-section h4 {
    color: var(--fg-light);
    opacity: 0.8;
  
    margin: 1rem;
  }
  
  div.profile-pic {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  div.friends-section p:not(.friend-error-notice) {
    margin-left: 1rem;
    opacity: 0.8;
  
    color: var(--fg-light);
  }
  
  div.profile-add-friend-form {
    height: 2.5rem;
    width: 20rem;
  
    max-width: 90%;
    display: flex;
  
    margin-left: 1rem;
  }
  
  button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  div.profile-add-friend-form button {
    height: 100%;
    width: 4rem;
  
    background: slateblue;
    color: var(--fg-light);
  
    border: none;
    border-radius: 0.3rem;
  
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  div.profile-add-friend-form input {
    flex-grow: 1;
    outline: none;
  
    border: none;
    background: #222;
  
    color: var(--fg-light);
    padding-left: 0.8rem;
  }
  
  div.profile-add-friend-wrapper,
  div.pending-requests-list
   {
    margin-bottom: 5rem;
  }

  div.pending-requests-list {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  div.friend-req-div {
    max-width: 80%;
    margin-left: 1rem;

    width: 20rem;
    height: 3.5rem;

    display: flex;
    justify-content: left;

    align-items: center;
    position: relative;
  }

  div.friend-req-div img {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 1.25rem;
  }

  div.friend-req-div div.pending-req-controls {
    height: 100%;
    width: 4rem;

    display: flex;
    justify-content: center;

    position: absolute;
    right: 0;
  }

  div.friend-req-div div.pending-req-controls button {
    cursor: pointer;
  }

  div.friend-req-div button {
    background: none;
    border: none;

    color: var(--fg-light);
  }
  
  div.profile-add-friend-form button:hover {
    transform: translateY(-3px);
  }
  
  .profile-item-friend {
    width: 20rem;
    max-width: 80%;
  
    display: flex;
    height: 4rem;
  
    align-items: center;
    margin-left: 3%;
  
    color: var(--fg-light);
  }
  
  .profile-item-friend img {
    height: 2.5rem;
    width: 2.5rem;
  
    border-radius: 1.25rem;
  }
  
  .profile-item-friend div.friend-bio {
    width: 60%;
  }
  
  .profile-item-friend div.manage-friend-wrap {
    height: 100%;
  
    display: flex;
    margin-left: 5%;
  
    align-items: center;
    justify-content: space-evenly;
  
    width: 40%;
  }
  
  div.manage-friend-wrap button {
    height: 2rem;
    width: 2rem;
  
    background: none;
    border: none;
  
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .manage-friend-approve ion-icon {
    color: green;
  }
  
  .manage-friend-deny ion-icon {
    color: crimson;
  }
  
  button.manage-friend-chat ion-icon {
    color: slateblue;
  }
  
  button.manage-friend-remove ion-icon {
    color: rgb(247, 79, 112);
  }
  
  div.manage-friend-wrap button:hover {
    transform: translateY(-3px);
  }
  
  .pfp-upload, .banner-upload {
    display: none;
  }