html,
body {
  height: 100%;
  width: 100%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: #333;
  color: #fff;

  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.topmost-div {
  width: 100%;
  height: 16rem;

  position: relative;
  display: flex;

  background: slateblue;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.topmost-div img {
  position: absolute;
  top: 15rem;
}

.topmost-div h1 {
  font-size: 3.8rem;
  margin: 0;
}

.topmost-div img {
  pointer-events: none;
  user-select: none;
}

.topmost-div p {
  font-size: 1.5rem;
  margin: 0;

  margin-left: 1rem;
  margin-right: 1rem;
}

div.whys {
  margin-top: 10rem;
}